.cell, 
.cell > div {
    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
}

.cell > div {
    width: 100%;
    height: 100%;
}

.cell {
    border-color: #3f885a;
    border-style: solid;
    text-align: center;
}

.column.active .cell {
    border-color: #5eb27d;
}

.mini-slot {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.template-puissance4 {
    grid-template-columns: auto auto auto;
}